extends ../layout

block content
  section.container
    section.row
      .span12
        if session.role == 'admin'
          ul.nav.nav-tabs
            li
              a(href='/category')= __i.Categories
            li
              a(href='/maker')= __i.Makers
            li.active
              a(href='/')= __i.Products
    section.row
      include ../sidebar
      section.span9
        if products
            each product in products
              if session.role == 'admin'
                .block
                  if product.images & product.images[0]
                    a(href='#{'/product/delete/' + product.product_id}') x
                    br
                    a(href='#{'/product/edit/' + product.product_id}') Edit
                    br
                    a(href='#{'/' + product.product_id}') Show
              else
                .block
                  if product.images & product.images[0]
                    img(src="#{'/img/products/' + product.images[0].image_name}")
                    a(href='#{'/' + product.product_id}') Show
