extends ../layout

block content
  section.container
    section.row
      .span12
        if session.role == 'admin'
          ul.nav.nav-tabs
            li
              a(href='/category')= __i.Categories
            li
              a(href='/maker')= __i.Makers
            li.active
              a(href='/')= __i.Products
    section.row
      include ../sidebar
      section.span9
        if products
            each product in products
                .block.well
                  .block-gallary
                      .block-controls
                        .block-arrow(data-dir='prev')
                          .block-left-arrow
                        .block-arrow.block-arrow-pull-right(data-dir='next')
                          .block-right-arrow
                        .block-description
                          p Iphone 5! Amazing!
                      .carousel.slide
                        ul.carousel-inner
                        if product.images
                          each image, i in product.images
                            if i == 0
                              li.item.active
                                img(src='img/products/1.jpg')
                                img(src="#{'/img/products/' + image.image_name}")
                            else
                              li.item
                                img(src="#{'/img/products/' + image.image_name}")
                    .block-title-holder
                      h2 Iphone 5
