extends ../layout

block content
  section.container
    section.row
      include ../sidebar
      section.span9
        if products
        each product in products
          if session.role == 'admin'
            .block
              if product.images
              a(href='#{'/product/delete/' + product.product_id}') x
              br
              a(href='#{'/product/edit/' + product.product_id}') Edit
              br
              a(href='#{'/' + product.product_id}') Show
          else
            .block
              if product.images
                img(src="#{'/img/products/' + product.images[0].image_name}")
                a(href='#{'/' + product.product_id}') Show
