extends ../layout

block content
  section.container
    section.row
      include ../sidebar
      section.span9
          .row-fluid
             .product
               .span7
                 if product.images
                   each image in product.images
                     .product-img-holder
                       img(src='#{'img/products/' + image.image_name}')
                       if session.role == 'admin'
                         a.btn.btn-mini.btn-danger.btn-img-delete(href='#{'/product/delete_image/' + image.id}') Delete
               .span5
                 h1.name= product.title
                 if product.params
                   each parameter in product.params
                     dl.dl-horizontal
                       dt= parameter.key
                       dd= parameter.value
